.navtext a:hover{color: #fcb97e}
::selection{
 color:white;
 background: grey;
}
 
 
#enterDestination{
 color: white;
}
 
}
.navtext{
   padding-top:20px
}
 
fontz{
 color: white;
  font-size: 50px;
  -webkit-text-stroke: 0.5px;
}
xt-stroke: 0.5px;
}
